<div class="sub-body-header">
    <div>
        <h1>Pago a proveedores</h1>
        <button type="button" class="btn btn-primary btn-primary-toggle" data-toggle="button" aria-pressed="false" autocomplete="off" (click)="show=!show" *ngIf="!show">Nuevo pago</button>
        <button type="button" class="btn btn-primary btn-primary-toggle active" data-toggle="button" aria-pressed="false" autocomplete="off" (click)="show=!show" *ngIf="show">Nuevo pago</button>
    </div>
    <ul class="sub-body-menu" *ngIf="show">
        <li><a routerLink="./archivo" routerLinkActive="active">Pago por archivo</a></li>
        <li><a routerLink="./manual" routerLinkActive="active">Pago manual</a></li>
        <li><a>Pago frecuente</a></li>
    </ul>
</div>

<div class="container pp-body-container">
    <router-outlet></router-outlet>
</div>