<div class="row form-body">
    <div class="row form-steps">
        <div class="step-indicator-container">
            <ul class="step-indicator three-steps">
                <li class="active">Datos del usuario </li>
                <li>Productos, grupo de firmas y permisos </li>
                <li>Confirmaci??n </li>
            </ul>
        </div>
    </div>
    <form id="userProfileForm">
        <div class="row">
            <h4>Datos personales</h4>
            <div class="form-group col-sm-3"><label for="au-alta-name">Nombre y apellido</label>
                <input id="name" type="text" class="form-control" id="name">
                <div>{{ showMessage('name') }} </div>
            </div>
            <div class="form-group col-sm-3"><label for="au-alta-cuil">Cuil</label> <input id="cuil" type="text" class="form-control">
                <div>{{ showMessage('cuil') }} </div>
            </div>
            <div class="form-group col-sm-3"><label for="au-alta-telefono">Tipo y Nro. de documento</label>
                <div class="col-sm-4">
                    <div class="d-inline-block"><button class="btn btn-outline-primary" id="documentType">
{{ user.documentType }}</button>
                        <div class="dropdown-menu"><button class="dropdown-item" name="documentType">{{ docTypeDefault }}
</button> <button class="dropdown-item" name="documentType">{{documentType}}</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8"><input id="documentNumber" type="text" class="form-control">
                    <div>{{ showMessage('documentNumber') }} </div>
                </div>
            </div>
            <div class="form-group col-sm-3"><label for="au-alta-genero">G??nero</label>
                <div class="radio radio-inline"><input type="radio" name="au-alta-genero" id="au-alta-genero-masculino" value="option1" checked="">
                    <label for="au-alta-genero-masculino">Masculino </label></div>
                <div class="radio radio-inline"><input type="radio" name="au-alta-genero" id="au-alta-genero-femenino" value="option1" checked="">
                    <label for="au-alta-genero-femenino">Femenino </label></div>
            </div>
            <div class="form-group col-sm-3"><label for="au-alta-email">Email</label> <input id="email" type="text" class="form-control">
                <div>{{ showMessage('email') }} </div>
            </div>
            <div class="form-group col-sm-3"><label for="au-alta-nacimiento">Fecha de nacimiento</label>
                <div class="input-group form__date-picker"><input id="dateOfBirth" class="form-control" name="au-alta-nacimiento" readonly="">
                    <div>{{ showMessage('dateOfBirth') }} </div>
                    <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
            <div class="form-group col-sm-3"><label for="au-alta-telefono">Tel??fono</label>
                <div class="col-sm-4">
                    <div class="d-inline-block"><button class="btn btn-outline-primary" id="au-alta-telefono-tipo">
{{ user.phoneType }}</button>
                        <div class="dropdown-menu"><button class="dropdown-item" name="phoneType">{{ phoneTypeDefault }}
</button> <button class="dropdown-item" name="phoneType">{{phoneType}}</button> </div>
                    </div>
                </div>
                <div class="col-sm-8"><input id="phoneNumber" type="text" class="form-control" id="au-alta-telefono">
                    <div>{{ showMessage('phoneNumber') }} </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h4>Permisos</h4>
            <div class="form-group no-label col-sm-12">
                <div class="radio radio-inline"><input type="radio" name="permisos" id="au-alta-elegir-permiso" value="option-permiso">
                    <label for="au-alta-elegir-permiso">Elegir permiso </label></div>
                <div class="radio radio-inline"><input type="radio" name="permisos" id="au-alta-seleccion-usuario" value="option-usuario">
                    <label for="au-alta-seleccion-usuario">Seleccione usuario del cual se copiar??n los productos y servicios
</label></div>
            </div>
            <div class="form-group no-label col-sm-12">
                <div class="checkbox checkbox-inline"><input type="checkbox" id="au-alta-seleccion-usuario-todas">
                    <label for="au-alta-seleccion-usuario-todas">Seleccionar todas </label></div>
                <div class="checkbox checkbox-inline"><input type="checkbox" id="au-alta-seleccion-usuario-consulta">
                    <label for="au-alta-seleccion-usuario-consulta">Consulta </label></div>
                <div class="checkbox checkbox-inline"><input type="checkbox" id="au-alta-seleccion-usuario-alta">
                    <label for="au-alta-seleccion-usuario-alta">Alta </label></div>
                <div class="checkbox checkbox-inline"><input type="checkbox" id="au-alta-seleccion-usuario-firma">
                    <label for="au-alta-seleccion-usuario-firma">Firma </label></div>
                <div class="checkbox checkbox-inline"><input type="checkbox" id="au-alta-seleccion-usuario-libera">
                    <label for="au-alta-seleccion-usuario-libera">Libera </label></div>
                <div class="checkbox checkbox-inline"><input type="checkbox" id="au-alta-seleccion-usuario-administra">
                    <label for="au-alta-seleccion-usuario-administra">Administra </label></div>
            </div>
            <div class="form-group no-label col-sm-12">
                <div class="inline-dropdown">
                    <p>Seleccione permisos del usuario</p>
                    <div class="d-inline-block"><button class="btn btn-outline-primary" id="au-alta-telefono-tipo">
Seleccione un usuario</button>
                        <div class="dropdown-menu"><button class="dropdown-item">Action - 1</button><button class="dropdown-item">
Another Action</button><button class="dropdown-item">Something else is here</button>
                        </div>
                    </div>
                </div>
                <div class="form-warning-message col-sm-12">
                    <p>Advertencia al copiar permisos de un firmante si el nuevo usuario no es firmante.</p>
                </div>
            </div>
            <div class="form-group col-sm-3"><label for="exampleInputEmail1">Habilitar mobile</label>
                <div class="radio radio-inline"><input type="radio" name="au-alta-mobile" id="au-alta-mobile-si" value="option1" checked="">
                    <label for="au-alta-mobile-si">Si </label></div>
                <div class="radio radio-inline"><input type="radio" name="mobile" id="au-alta-mobile-no" value="option1">
                    <label for="au-alta-mobile-no">No </label></div>
            </div>
            <div class="form-group col-sm-3"><label for="exampleInputEmail1">Asignar Token</label>
                <div class="radio radio-inline"><input type="radio" name="au-alta-token" id="au-alta-token-si" value="option1" checked="">
                    <label for="au-alta-token-si">Si </label></div>
                <div class="radio radio-inline"><input type="radio" name="au-alta-token" id="au-alta-token-no" value="option1">
                    <label for="au-alta-token-no">No </label></div>
            </div>
        </div>
        <div class="row">
            <h4>Asignar nombre de usuario/contrase??a y foto de perfil</h4>
            <div class="col-sm-3">
                <div class="form-group"><label for="username">Usuario</label> <input id="username" type="text" class="form-control">
                    <div>{{ showMessage('username') }} </div>
                </div>
                <div class="form-group"><label for="password">Crear contrase??a</label> <input id="password" type="password" class="form-control padding-icon-pass">
                    <div class="form-check-condition">
                        <ul>
                            <li class="{{showCheck('password', 'containsCapitalAndLowerCaseLetter')}}">Debe contener may??sculas y min??sculas
                            </li>
                            <li class="{{showCheck('password', 'containsNumber')}}">Debe contener al menos un n??mero
                            </li>
                            <li class="{{showCheck('password', 'minlength')}}">Debe contener m??nimo 8 car??cteres
                            </li>
                        </ul>
                    </div>
                    <div>{{userCreationForm.validationMessages.password.maxlength}} </div>
                </div>
            </div>
            <div class="col-sm-8 col-sm-offset-1"><label>Seleccione la foto</label>
                <div class="content-file-change">
                    <div class="fileContainer"></div>
                    <div class="content-img-change"><img blockedImageSrc class="img-file-change img-circle">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <h4>Descargue e imprima el formulario</h4>
            <div class="form-warning-message col-sm-12">
                <p>Debe imprimir la solicitud por duplicado y entregar documentaci??n firmada en la sucursal.<br> Una vez que
                    se descargue el formulario los datos personales no podr??n ser modificados.</p>
            </div>
            <button class="btn btn-download">Descargar formulario</button> </div>
        <div class="row form-actions">
            <div><button class="btn btn-primary">Siguiente</button> </div>
        </div>
    </form>
</div>