/* 
*Ascensor css
*/

			.floor 
			.floor-1
			.floor-2
			.floor-3
			.floor-4
			.floor-5
			.floor-6
			.floor-7
			.floor-8
			ul {list-style: none;}
			.prev-next-links{position: absolute;top: 20px;right: 20px;}
			.direction-links li a{border-radius: 0;}
			.up {position: absolute;bottom: 75px;right: 50px;}
			.down {position: absolute;bottom: 25px;right: 50px;}
			.left {position: absolute;bottom: 50px;right: 60px;}
			.right {position: absolute;bottom: 50px;right: 32px;}
			
/*
*
*/
.menu-login-options {
   	height: auto;
    min-height: 50px;
}
.active-selection-tab {
	    color: whitesmoke;
    text-decoration: none;
    font-weight: bold;
        text-shadow: 1px 0px 20px rgba(0, 176, 186, 1);
    font-size: 15px !important;
    text-align: center;
}
.default-selection-tab {
    text-decoration: none;
    color: darkgray;
    font-weight: bold;
    font-size: 15px !important;
    transition: border-top 0.2s ease-in-out, border-bottom 0.2s ease-in-out;
}
.default-selection-tab:hover {
    text-shadow: 1px 1px 30px #00b1ba;
    border-top: 5px rgba(0, 177, 186, 0.5) solid;
    border-bottom: 5px rgba(0, 177, 186, 0.5) solid;
    transition: border-top 0.2s ease-in-out, border-bottom 0.2s ease-in-out;
}
/* 
* Menu Login
*/
.menu-login {
  	box-shadow: 0px 17px 34px -20px darkslategray;
    height: auto;
    min-height: 56px;
}

button#tab6 {
	font-weight: bold;
    font-size: small !important;
    background-color: #00b1ba;
    box-shadow: -1px 1px 17px -6px gray;
    text-align: center;
    color: white;
    border: none;
    border-radius: 4px;
    min-height: 3em;
    white-space: nowrap;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
button#tab6:hover{
    background-image: none;
    border: none;
    color: #ffffff;
    background-color: #39b3d7;
    border-color: #269abc;
}
button#tab6:focus{
	background-color: #8bd7ee;	
}
.tabProbar:hover {
    box-shadow: 2px 1px 37px -5px green;
    background-color: darkseagreen;
}
.link-probar {
    color: white;
    text-decoration: none;
}
img.logo {
    width: 100%;
    height: auto;
}
.logo-login {
    width: 22%;
    height: auto;
}

div#ascensorBuilding {
    width: 100% !important;
    height: 165% !important;
    margin-top: 5%;
}
li.li-tab-1 {
    display: inline;
    text-align: center;
}
li.li-tab-2 {
    display: inline;
    text-align: left;
}
li.li-tab-3 {
    text-align: center;
    display: inline;
}
li.li-tab-4 {
    display: inline;
    text-align: center;
}

li.li-tab-5 {
   	display: inline;
}

li.li-tab-6 {
    display: inline;
    text-align: center;
}
li.li-tab-7 {
    display: inline;
    text-align: center;
    margin-top: -1%;
}

i.fa {
    color: white;
    margin-top: 1%;
}

.iconBox {
    position: relative;
    margin-left: 6%;
    margin-top: 1%;
}

div#signin {
    margin-left: 13%;
    margin-top: 11%;
    background-color: rgba(221, 221, 221, 0.1);
    width: 82%;
    height: 168px;
    border-radius: 4px;
    box-shadow: 0px 4px 75px -6px black;
}
form#signinForm {
    margin-left: 20%;
    top: 22px;
    position: relative;
}

.iconBox {
    position: relative;
    margin-left: -16%;
    margin-top: 2%;
    top: 1px;
    width: 5px;
    text-shadow: 1px 1px 7px black;
}

.buttonLogin {
    margin-left: 22%;
    margin-top: 6%;
}

.input-default {
    width: 96%;
    margin-left: -10%;
    position: relative;
    padding-left: 37px;
}

img.login-image {
    box-shadow: 0px 2px 26px 3px black;
    margin-left: 2%;
    max-height: 500px
}

.next-button {
    z-index: 6;
    width: 6%;
    position: absolute;
    background-color: inherit;
    color: gray;
    margin-left: 64%;
    box-shadow: inherit;
    text-decoration: inherit;
    margin-top: 17%;
}
.next-button:hover, next-button:focus {
	color: black !important;
}

.prev-button {
    position: absolute;
    z-index: 6;
    color: gray !important;
    margin-left: 2%;
    margin-top: 17%;
    text-decoration: inherit;
}
.prev-button:hover, prev-button:focus {
	color: black !important;
}

.footer-login {
    width: 100%;
    height: 58px;
    background-color: rgba(0, 177, 186, 0.5);
    box-shadow: 0px 13px 20px 13px darkslategray;
    border-radius: 3px;
    bottom: -661px;
    margin-top: 3%;
}

.floor-base {
    height: 90% !important;
}

.label-rights {
    margin-left: 1%;
    color: white;
    font: 14px 'Roboto';
}

.facebook-position {
    margin-left: 1%;
}
.twitter-position {
    margin-left: 24%;
}
.google-position {
    margin-left: 1%;
    margin-top: 1%;
}

.logo-footer {
    height: auto;
    width: 18%;
    margin-top: 1%;
    margin-left: 1%;
}

#loading {
    background-color: cyan;
    height: 3px;
    position: fixed;
    top: 56px;
	z-index: 10000;
}

.imageSwitch-login {
    margin-top: 2%;
}

.ui-grid-col-12.subtitle {
    background-color: rgba(0, 177, 186, 1);
    width: 99% !important;
    margin-top: 1%;
    margin-left: 1%;
    min-height: 42px !important;
    text-align: center;
    line-height: 40px;
    color: white;
    text-shadow: 1px 1px 1px black;
    letter-spacing: 3px;
    font-size: 25px;
}

.image-presentation {
    width: 50%;
    height: auto;
    max-height: 153px;
    margin-top: 2%;
    margin-left: 48%;
}

.ui-grid-col-12.description-box-1 {
    background-color: rgba(255,255,255, 0.7);
    margin-left: 1%;
    width: 99%;
    margin-top: 1%;
    box-shadow: 0px 0px 4px 1px darkslategray;
    height: 171px;
}

.description-presentation {
    top: 48px;
    position: relative;
    margin-left: -24%;
}

.description-label-1 {
    margin-left: 47%;
    text-align: center;
    position: relative;
    top: 20px;
}

.description-label-2 {
    margin-left: 49%;
    top: 12px;
    position: relative;
}

.description-label-3 {
    position: relative;
    top: 12px;
    margin-left: 52%;
}

i.fa.fa-bolt.fa-4x.icon-1 {
    margin-left: 50%;
    margin-top: 10% !important;
}
i.fa.fa-rss.fa-4x.icon-2 {
    margin-left: 50%;
    margin-top: 10% !important;
}
i.fa.fa-cloud.fa-4x.icon-3 {
    margin-left: 50%;
    margin-top: 10% !important;
}

.ui-grid-col-12.description-login-container {
    background-color: rgba(0, 0, 0, 0.43);
    border-radius: 5px;
    width: 98% !important;
    height: 572px;
    margin-top: 8.5%;
    margin-left: 1%;
    box-shadow: 0px 16px 80px 9px black;
}
.ui-grid-col-12.title-position {
    margin-top: 3%;
}

.title-what-is {
    margin-left: 36%;
    font-size: 40px !important;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.description-what-is {
    font-size: 24px !important;
    color: rgb(183, 179, 179);
    margin-left: 16%;
    text-shadow: 1px 1px 1px black;
}

.ui-grid-col-12.description-position {
    margin-top: 1%;
}

.ui-grid-row.content-size {
    height: 1500px !important;
}

.class-init-link {
    margin-left: 30%;
    position: relative;
    top: 10px;
}

.class-whatIsSmartrace-link {
    position: relative;
    top: 10px;
}

.class-whyChooseUs-link {
    position: relative;
    top: 10px;
}

.class-costs-link {
    position: relative;
    top: 10px;
}

.class-contactToUs-link {
    position: relative;
    top: 10px;
}

.class-ourClients-link {
    position: relative;
    top: 10px;
    margin-left: 7%;
}

.class-testForThirtyDays-link {
    position: relative;
    margin-left: 7%;
}

.ui-outputlabel.ui-widget.title-registration-user {
    margin-left: 42%;
    font-size: 32px;
    font-family: 'Roboto';
    color: white;
    text-shadow: 1px 1px 1px black;
}

.ui-outputlabel.ui-widget.title-registration-user {
    margin-left: 42%;
    font-size: 32px;
    font-family: 'Roboto';
    color: white;
    text-shadow: 1px 1px 1px black;
}

.ui-inputfield.ui-inputtext.ui-widget.ui-state-default.ui-corner-all.input-registration-default {
    margin-left: 23%;
    margin-top: 3%;
    width: 66%;
}

.ui-outputlabel.ui-widget.title-registration-company {
    margin-left: 42%;
    font-size: 32px !important;
    font-family: 'Roboto' !important;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.ui-outputpanel.ui-widget.description-login-container {
    background-color: rgba(0, 0, 0, 0.43);
    border-radius: 5px;
    width: 98% !important;
    height: 572px;
    margin-top: 8.5%;
    margin-left: 1%;
    box-shadow: 0px 16px 80px 9px black;
}

.ui-outputpanel.ui-widget.ui-grid-col-12.title-margin-user {
    margin-top: 2%;
}
.ui-outputpanel.ui-widget.ui-grid-col-12.title-margin-company {
    margin-top: 4%;
}
.ui-outputpanel.ui-widget.ui-grid-col-12.form-margin-user {
    margin-top: 1%;
}
.ui-outputpanel.ui-widget.ui-grid-col-12.form-margin-company {
    margin-top: 1%;
}

.ui-button.ui-widget.ui-state-default.ui-corner-all.ui-button-text-only.button-signup {
    margin-left: 45%;
    margin-top: 2%;
    width: 15%;
    min-height: 50px;
    font-size: 18px !important;
    font-family: 'Roboto';
}

.ui-outputlabel.ui-widget.asterisk-required {
    color: white;
    font-size: 30px;
    position: relative;
    left: 18%;
    margin-right: -3%;
    top: 12px;
}