<div class="container">
  <div *ngIf="inListStudent" class="animated fadeInUp">
    <div class= "col-12 common-box-large">
      <div class="row">
        <div class="col-12">    
          <div>
            <h1>Lista de Alumnos</h1>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 body-component">
          <div class="row">
            <div class="col-12">
              <button type="button" class="button-add" (click)="goListCreate(false)">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
              </button>
            </div>
          </div>
          <table-commons [tableModel]="table" (action)="actionCatch($event)"></table-commons>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="inCreateStudent" class="animated fadeInUp">
    <colegio-alumnos-create (goList)="goListCreate($event)"></colegio-alumnos-create>
  </div>
  <div *ngIf="inUpdateStudent" class="animated fadeInUp">
    <colegio-alumnos-update (goList)="goListUpdate($event)" [student]="selectedStudent"></colegio-alumnos-update>
  </div>
</div>