<div class="sub-body-header">
    <div>
        <h1>Usuarios</h1>
        <p>Seleccione qué desea realizar</p>
    </div>
    <ul class="sub-body-menu">
        <li><a routerLink="./gestion" routerLinkActive="active">Gestión de usuarios</a></li>
        <li><a routerLink="./alta" routerLinkActive="active">Alta de usuarios</a></li>
        <li><a routerLink="./firmas" routerLinkActive="active">Esquemas de firmas</a></li>
        <li><a routerLink="./token" routerLinkActive="active">Asignación de Token</a></li>
    </ul>
</div>

<div class="container au-body-container">
    <router-outlet></router-outlet>
</div>