.metadata/
RemoteSystemsTempFiles/
*.rej
*.orig
Servers/
.recommenders/
Colegio/.settings/.jsdtscope
Colegio/.settings/
Colegio/.wtpmodules
Commons/.project
Screens/.project
ScreensTestWeb/.settings/org.eclipse.wst.common.component
SmartTrace/.settings/org.eclipse.wst.common.component
ProdeWeb/.settings/org.eclipse.wst.common.component
Colegio/.classpath
Colegio/.project
Commons/.classpath
Commons/.settings/org.eclipse.jdt.core.prefs
Screens/.classpath
Commons/.settings/org.eclipse.wst.common.component
Commons/.settings/org.eclipse.wst.common.project.facet.core.xml
Screens/.settings/org.eclipse.core.resources.prefs
Screens/.settings/org.eclipse.jdt.core.prefs
Screens/.settings/org.eclipse.m2e.core.prefs
Screens/.settings/org.eclipse.wst.common.component
Screens/.settings/org.eclipse.wst.common.project.facet.core.xml
Angular-Colegio/ui/npm-debug.log.319255543
DataPrototypes/.classpath
DataPrototypes/.project
DataPrototypes/.settings/
DataPrototypes/bin/
Persistence/.classpath
Persistence/.project
Persistence/.settings/
Persistence/bin/
RestArq/.classpath
RestArq/.project
RestArq/.settings/
RestArq/bin/
SchoolApi/.classpath
SchoolApi/.project
SchoolApi/.settings/
Tools/.classpath
Tools/.settings/
SchoolApiPom/.project
SchoolApiPom/.settings/
Reports/.classpath
Reports/.project
Reports/.settings/
CommonsParent/.project
CommonsParent/.classpath
CommonsPom/.project
CommonsPom/.settings/
MyReports/.classpath
SchoolApiParent/.project
SchoolApiParent/.settings/
Tools/.project
CommonsParent/.settings/
Mystic/.classpath
Mystic/.factorypath
Mystic/.project
Mystic/.settings/
Stepper/.classpath
Stepper/.factorypath
Stepper/.project
Stepper/.settings/
