<form action="">
    <div class="row form-title">
        <h2>Datos de la lista</h2>
    </div>
    <div class="row form-body">
        <div class="form-group col-sm-4"><label for="lblCompany">Empresa</label> </div>
        <div class="form-group col-sm-4"><label for="lblOriginPayment">Origen del pago</label>
            <div class="d-inline-block"><button class="btn btn-outline-primary" id="pp-manual-origen">
Origen del pago</button>
                <div class="dropdown-menu"><button class="dropdown-item">Action - 1</button><button class="dropdown-item">
Another Action</button><button class="dropdown-item">Something else is here</button>
                </div>
            </div>
        </div>
        <div class="form-group col-sm-4"><label for="lblTypePayment">Tipo de pago</label>
            <div class="d-inline-block"><button class="btn btn-outline-primary" id="pp-manual-tipodepago">
Tipo de pago</button>
                <div class="dropdown-menu"><button class="dropdown-item">Action - 1</button><button class="dropdown-item">
Another Action</button><button class="dropdown-item">Something else is here</button>
                </div>
            </div>
        </div>
        <div class="form-group col-sm-4"><label for="exampleInputEmail1">Fecha de pago</label>
            <div class="input-group form__date-picker"><input class="form-control" name="dp1">
                <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
            </div>
        </div>
        <div class="form-group col-sm-4"><label for="exampleInputEmail1">Nombre de lista</label>
            <input type="text" class="form-control" id="exampleInputEmail1"> </div>
        <div class="form-group col-sm-4"><label for="exampleInputEmail1">Descripci??n (opcional)</label>
            <input type="text" class="form-control" id="exampleInputEmail1"> </div>
    </div>
    <div class="row form-title">
        <h2>Agregue proveedores a la lista</h2>
    </div>
    <div class="row form-body">
        <div class="row">
            <div class="form-group col-sm-4"><label for="lblProvider">Proveedor</label> </div>
            <div class="col-sm-8 form__buttons--rounded">
                <a href="" class="form__button--rounded-secondary agenda-add"></a>
                <a href="" class="form__button--rounded-secondary agenda"></a>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4"><label for="exampleInputEmail1">Monto</label> <input type="text" class="form-control" id="exampleInputEmail1">
            </div>
            <div class="form-group col-sm-4 col-pull-4"><label for="exampleInputEmail1">Fecha de pago</label>
                <div class="input-group form__date-picker"><input class="form-control" name="dp1">
                    <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-sm-4"><label for="exampleInputEmail1">Archivo adjunto (jpg, png, pdf)</label>
                <input type="text" class="form-control" id="exampleInputEmail1"> </div>
            <div class="form-group col-sm-4"><label for="exampleInputEmail1">Nombre del adjunto</label>
                <input type="text" class="form-control" id="exampleInputEmail1"> </div>
            <div class="form-group col-sm-4"><label for="exampleInputEmail1">Tipo de comprobante</label>
                <div class="d-inline-block"><button class="btn btn-outline-primary" id="pp-manual-comprobante">
Seleccione tipo</button>
                    <div class="dropdown-menu"><button class="dropdown-item">Action - 1</button><button class="dropdown-item">
Another Action</button><button class="dropdown-item">Something else is here</button>
                    </div>
                </div>
            </div>
            <div class="form-group col-sm-8"><label for="exampleInputEmail1">Distribuci??n del adjunto</label>
                <div class="checkbox checkbox-inline">
                    <input type="checkbox" id="distribucion-impresion" value="option1" />
                    <label for="distribucion-impresion">Impresi??n</label> </div>
                <div class="checkbox checkbox-inline">
                    <input type="checkbox" id="distribucion-web" value="option2" />
                    <label for="distribucion-web">Web</label>
                </div>
                <div class="checkbox checkbox-inline">
                    <input type="checkbox" id="distribucion-email" value="option3" />
                    <label for="distribucion-email">Email</label>
                </div>
            </div>
        </div>
    </div>
    <div class="row form-actions">
        <div class="file-upload"><a href="" class="btn btn-primary">Agregar</a> </div>
    </div>
    <div class="row form-body">
        <div class="col-sm-6 col-sm-offset-3 small-table-container">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <div class="checkbox"><input type="checkbox" id="proveedores-select-all"> <label for="proveedores-select-all">
</label></div>
                        </th>
                        <th>Items agregados: <span>{{proveedores.length}}</span></th>
                        <th>total: <span name="totalamount">${{ getTotal() }}</span></th>
                        <th></th>
                        <th><button type="button" class="form__button--rounded-primary delete"></button> </th>
                    </tr>
                </thead>
                <tbody>
                    <!--tr>
                        <th scope="row">
                            <div class="checkbox"><input type="checkbox" id="proveedores-select-1"> <label for="proveedores-select-1">
</label></div>
                        </th>
                        <td>{{ proveedor.companyname }}</td>
                        <td>${{ proveedor.amount }}</td>
                        <td><a href="" class="table__button--attachment">{{ proveedor.attachment }}</a> </td>
                        <td>
                            <a href="" class="table__button--delete"></a>
                        </td>
                    </tr -->
                </tbody>
            </table>
        </div>
    </div>
</form>