<div ngbDropdown class="d-inline-block">
    <button 
            class="btn btn-outline-primary" 
            id="pp-manual-tipodepago" 
            ngbDropdownToggle>{{ showValue(selectedElement) }}
    </button>
    <div class="dropdown-menu">

        <button 
            class="dropdown-item"
            *ngIf="this.selectedElement !== this.defaultElement" 
            (click)="selectElement(-1)" 
            name="state">
                {{ defaultElement.text }}
        </button>

        <template ngFor let-elem [ngForOf]="list" let-i="index">
            <button (click)="selectElement(i)" class="dropdown-item" name="state">
                {{ showValue(elem) }}
            </button>
        </template>
    </div>
</div>