<school-students *ngIf="inList" [inPaymentRecord]="true" 
  (goRecord)="goRecord($event)" (selectStudent)="selectStudent($event)"></school-students>
<div class="container" *ngIf="!inList">
  <div class="animated fadeInUp">
    <div class= "col-12 common-box-extra-large">
      <div class="row animated fadeIn">
        <div class="col-12">
          <button type="button" class="button-back" (click)="goToList(true)" pTooltip="Volver">
            <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-12 body-component">
          <div class="row animated fadeIn">
            <div class="col-12">
                <h1>Estado de Cuotas</h1>
            </div>
          </div>
          <div class="row animated fadeIn">
            <div class="col-12 text-align-center">
                <h2>{{student.name}} {{student.surname}}</h2>
            </div>
          </div>
          <div *ngIf="showMessageError" class="row error-box animated fadeInDown">
            <div class="col-1 error-box-icon">
              <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
            </div>
            <div *ngIf="showMessageErrorService" class="col-11 error-box-message">
              {{messageErrorService}}
            </div>
          </div>
          <p-dataScroller [value]="paymentRecords" [rows]="7" class="data-scroller-two-columns" (onLazyLoad)="loadData($event)" [lazy]="true">
            <ng-template let-paymentRecord pTemplate="item">
              <div class="data-scroller-item-1-container" (click)="loadPaymentRecord(paymentRecord)"
                [ngClass]="{'paid-off': !paymentRecord.paidOff, 'paid-on': paymentRecord.paidOff}">
                <div class="data-scroller-item-1-title">
                   <span>{{paymentRecord.description}}</span><span class="payment-record-value">${{getTotal(paymentRecord)}}</span>
                </div>
                <div class="data-scroller-item-1-body">
                  <div class="data-scroller-item-1-body-data">
                   Vencimiento: {{paymentRecord.dueDate | date: 'dd/MM/yyyy'}}
                  </div>
                  <div class="data-scroller-item-1-body-data">
                    {{student.course.level.description}} {{student.course.year.description}}° {{student.course.division.description}}
                  </div>
                </div>
              </div>      
            </ng-template>
          </p-dataScroller>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal animated fadeIn" [ngClass]="{'display-block': loading, 'display-none': !loading}">
  <table class="table-loading">
    <tr>
      <td>
        <loading-commons class="loading-class" [fontSize]="50"></loading-commons>
      </td>
    </tr>
  </table>
</div>

<div class="modal animated fadeIn" [ngStyle]="{'display': displayPopUp}">
  <div class="modal-dialog" role="document">
    <div class="modal-content animated fadeIn" *ngIf="paymentRecordSelected != null">
      <div class="row modal-header">
        <h3 class="col-12 modal-title">Cuota {{paymentRecordSelected.description}}</h3>
        <button type="button" class="button-add button-print" pTooltip="Imprimir Cuota" (click)="getPayVoucher()" disabled>
          <i class="fa fa-print" aria-hidden="true"></i>
        </button>
      </div>
      <div *ngIf="showMessageErrorPopUp" class="row error-box animated fadeInDown">
        <div class="col-1 error-box-icon">
          <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
        </div>
        <div class="col-11 error-box-message">
          {{messageErrorInputsPopUp}}  
        </div>
      </div> 
      <div class="row modal-body item-payment-record" *ngFor="let detail of paymentRecordSelected.details">
        <h5 class="col-6">{{detail.description}}</h5>
        <h5 class="col-6">${{getValueLabel(detail.value)}}</h5>
      </div>
      <div class="row modal-body total-price">
        <h5 class="col-6">TOTAL</h5>
        <h5 class="col-6">${{getTotal(paymentRecordSelected)}}</h5>
      </div>
      <div class="row modal-footer">
        <button type="button" class="btn btn-primary" (click)="payObligation()" [disabled]="paymentRecordSelected.paidOff">Marcar como paga</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="hidePopUp()">Cancelar</button>
      </div>
    </div>
  </div>
</div>