.header-common-style{
    background-color: #3F51B5;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    z-index: 100;
    width: 100%;
    height: 75px;
    margin: auto;
}
img.logo-style {
    width: 180px;
    margin-top: 20px;
    margin-left: 20px;
}
.col-xs-8.col-sm-6.notifications-section {
    animation: fade-in ease-in 0.5s;
    animation-iteration-count: 1;
    transform-origin: 50% 50%;
    animation-fill-mode:forwards; /*when the spec is finished*/
    -webkit-animation: fade-in ease-in 0.5s;
    -webkit-animation-iteration-count: 1;
    -webkit-transform-origin: 50% 50%;
    -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 
    -moz-animation: fade-in ease-in 0.5s;
    -moz-animation-iteration-count: 1;
    -moz-transform-origin: 50% 50%;
    -moz-animation-fill-mode:forwards; /*FF 5+*/
    -o-animation: fade-in ease-in 0.5s;
    -o-animation-iteration-count: 1;
    -o-transform-origin: 50% 50%;
    -o-animation-fill-mode:forwards; /*Not implemented yet*/
    -ms-animation: fade-in ease-in 0.5s;
    -ms-animation-iteration-count: 1;
    -ms-transform-origin: 50% 50%;
    -ms-animation-fill-mode:forwards; /*IE 10+*/
    margin-top: 17px;
    z-index: 1000;
}
/*
* Bootstrap Tuning
*/
.btn-outline-primary {
    color: #ffffff;
    background-image: none;
    background-color: transparent;
    border-color: transparent;
    transition: color 0.5s;
}
.btn-outline-primary:hover {
    color: #bcbcbc;
    transition: color 0.5s;
}
.btn-outline-primary.active.focus, .btn-outline-primary.active:focus, .btn-outline-primary.active:hover, .btn-outline-primary:active.focus, .btn-outline-primary:active:focus, .btn-outline-primary:active:hover, .open>.btn-outline-primary.dropdown-toggle.focus, .open>.btn-outline-primary.dropdown-toggle:focus, .open>.btn-outline-primary.dropdown-toggle:hover{
    color: #ffffff;
    background-image: none;
    background-color: transparent;
    border-color: transparent;
}
.btn-outline-primary.active, .btn-outline-primary:active, .open>.btn-outline-primary.dropdown-toggle {
    color: #bcbcbc;
    background-color: transparent;
    border-color: transparent;
}
.badge-notify{
    position: absolute;
    right: 20px;
    top: 0px;
    background-color: #E91E63;
    color: #ffffff;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    padding: 4px 6px;
    display: block;
    font-size: 12px;
    line-height: 12px;
}
.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
}
/*
* END Bootstrap Tuning
*/
