<div class= "col-12 common-box">
  <div class="row animated fadeIn">
    <div class="col-12">
      <button type="button" class="button-back" (click)="goToList(true)">
        <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div class="row animated fadeIn">
    <div class="col-12">
        <h1>Creando Alumnos</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="row animated fadeIn">
        <div class="col-6">
          <input-commons [inputModel]="inputName" (valueModel)="setStudentName($event)"></input-commons>
        </div>

        <div class="col-6">
          <input-commons [inputModel]="inputSurname" (valueModel)="setStudentSurname($event)"></input-commons>
        </div>
      </div>
      <div class="row animated fadeIn">
        <div class="col-6">
          <select-one-menu-commons [selectOneMenuModel]="selecOneMenuDocumentType" (valueModel)="setDocumentType($event)"></select-one-menu-commons>
        </div>
        <div class="col-6">
          <input-commons
            [inputModel]="inputDocumentNumber"
          (valueModel)="setDocumentNumber($event)"></input-commons>
        </div>
      </div>
      <div>
        <div class="col-6">
          <input-commons [inputModel]="inputEmail" (valueModel)="setEmail($event)"></input-commons>
        </div>
      </div>
    </div>
  </div>
</div>