<!--p *ngFor="let alert of alerts"-->
  <ngb-alert type="info" (close)="closeAlert(alert)" *ngIf="progressFile.percentage !== 0">
		<div class="feedback-content">
			<h3>Su lista está siendo procesada</h3>
			<p><span>{{progressFile.listName}}</span> - $<span>{{progressFile.amount}}</span> - <span>{{progressFile.totalItems}}</span> items</p>
		</div>
		<div class="feedback-loading">
			<div>
				<h4>{{progressFile.percentage}}%</h4>
				<ngb-progressbar type="info" [value]="progressFile.percentage"></ngb-progressbar>
			</div>
			<a href=""><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></a>
		</div>
  </ngb-alert>
<!--/p -->

<form action="">
	<div class="row form-title"><h2>Detalle de la lista</h2></div>
	<div class="row form-body">
		<div class="form-group col-sm-4">
			<label for="exampleInputEmail1">Empresa</label>
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="pp-archivo-empresa" ngbDropdownToggle>Empresa</button>
      <div class="dropdown-menu" aria-labelledby="pp-archivo-empresa">
        <button class="dropdown-item">Action - 1</button>
        <button class="dropdown-item">Another Action</button>
        <button class="dropdown-item">Something else is here</button>
      </div>
    </div>
		</div>
		<div class="form-group col-sm-4">
			<label for="exampleInputEmail1">Tipo de pago</label>
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="pp-archivo-tipodepago" ngbDropdownToggle>Tipo de pago</button>
      <div class="dropdown-menu" aria-labelledby="pp-archivo-tipodepago">
        <button class="dropdown-item">Action - 1</button>
        <button class="dropdown-item">Another Action</button>
        <button class="dropdown-item">Something else is here</button>
      </div>
    </div>
		</div>
		<div class="form-group col-sm-4">
			<label for="exampleInputEmail1">Origen</label>
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="pp-archivo-origen" ngbDropdownToggle>Origen</button>
      <div class="dropdown-menu" aria-labelledby="pp-archivo-origen">
        <button class="dropdown-item">Action - 1</button>
        <button class="dropdown-item">Another Action</button>
        <button class="dropdown-item">Something else is here</button>
      </div>
    </div>
		</div>
		<div class="form-group col-sm-4">
			<label for="exampleInputEmail1">Sucursal de entrega</label>
    <div ngbDropdown class="d-inline-block">
      <button class="btn btn-outline-primary" id="pp-archivo-sucursal" ngbDropdownToggle>Sucursal de entrega</button>
      <div class="dropdown-menu" aria-labelledby="pp-archivo-sucursal">
        <button class="dropdown-item">Action - 1</button>
        <button class="dropdown-item">Another Action</button>
        <button class="dropdown-item">Something else is here</button>
      </div>
    </div>
		</div>
	</div>
	<div class="row form-actions">
		<a href="" class="text-link">Descargar archivo de ejemplo</a>
		<div class="file-upload">
			<input type="file" name="file-1[]" id="file-1" data-multiple-caption="{count} files selected" multiple />
			<label for="file-1"><span>Choose a file&hellip;</span></label>
		</div>
	</div>
	<div class="row form-progress">
		<div>
			<ul>
				<li>
					<div>
						<small class="form-file-name">archivo</small>
						<small class="form-file-percent">60% completo</small>
					</div>
					<ngb-progressbar type="info" value="15"></ngb-progressbar>
					<div>
						<small class="form-file-uploaded"><span>15</span> MB of <span>15</span> MB</small>
					</div>
				</li>
				<li>
					<div>
						<small class="form-file-name">archivo</small>
						<small class="form-file-percent">60% completo</small>
					</div>
					<ngb-progressbar type="info" value="55"></ngb-progressbar>
					<div>
						<small class="form-file-uploaded"><span>15</span> MB of <span>15</span> MB</small>
					</div>
				</li>
				<li>
					<div>
						<small class="form-file-name">archivo</small>
						<small class="form-file-percent">60% completo</small>
					</div>
					<ngb-progressbar type="info" value="87"></ngb-progressbar>
					<div>
						<small class="form-file-uploaded"><span>15</span> MB of <span>15</span> MB</small>
					</div>
				</li>
			</ul>
			<a href=""><span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span></a>
		</div>
	</div>
	<div class="row form-actions">
		<div class="file-upload">
			<a href="" class="btn btn-secondary">
				Cancelar
			</a>
			<a href="" class="btn btn-primary">
				Confirmar
			</a>
		</div>
	</div>
</form>