.dropdown-menu {
  float: left;
  position: absolute;
  margin-top: 0;
  border: 1px solid rgba(0,0,0,.15);
  border-top-left-radius: 0px;
  border-top-right-radius: 0;
  border-radius: 6px;
  background-color: ghostwhite;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

a.size-menu {
  position: relative;
  margin-left: 0px;
  width: 100%;
}
i.fa.fa-lock.fa-lg.icon-position {
  position: relative;
  left: 1%;
  margin-top: 2%;
  top: 8px;
}

label#change-password {
  position: relative;
  left: 19%;
  margin-top: -16%;
}

h1 h2 h3 h4 h5 h6 {
	font-family: 'Bree Serif', serif;
}