<!-- Modal Liberar -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body lightbox-token text-center">
        <h2 class="lightbox-title">Liberar pago</h2>
        <p>Nombre de la lista - ID de la lista<span>Cheque de pago deferido | 07.12.20168</span></p>
        <h3>$ 40.000,00</h3>
        <form>
          <div class="form-group">
            <input type="text" class="form-control" id="" placeholder="Escriba el número de Token para liberar el pago">
          </div>
        </form>
        <a href="#" class="lightbox-link">PERDÍ MI TOKEN</a>
      </div>
      <div class="modal-footer row form-actions">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Liberar</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal Liberar -->

<!-- Modal Print -->
<div class="modal fade" id="myModalPrint" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body lightbox-token text-center">
        <h2 class="lightbox-title">¿Qué desea imprimir?</h2>
        <p>Nombre de la lista - (Cant de items)</p>
        <form class="form-inline text-left">
          <template #ppCheckPrintConCabecera>Detalle del tooltip con cabecera</template>
          <div class="row lightbox-row-check">
            <div class="form-group col-sm-4 col-sm-offset-2">
              <div class="checkbox checkbox-inline">
                <input type="checkbox" id="pp-pendientes-print-con-cabecera">
                <label for="pp-pendientes-print-con-cabecera">Cabecera</label>
              </div>
              <span class="icons-warning" [ngbTooltip]="ppCheckPrintConCabecera"></span>
            </div>
            <div class="form-group col-sm-4">
              <div class="checkbox checkbox-inline">
                <input type="checkbox" id="pp-pendientes-print-sin-cabecera">
                <label for="pp-pendientes-print-sin-cabecera">Historial</label>
              </div>
              <template #ppCheckPrintSinCabecera>Detalle del tooltip sin cabecera</template><span class="icons-warning" [ngbTooltip]="ppCheckPrintSinCabecera"></span>
            </div>
          </div>
          <div class="row lightbox-row-check">
            <div class="form-group col-sm-4 col-sm-offset-2">
              <div class="checkbox checkbox-inline">
                <input type="checkbox" id="pp-pendientes-print-con-historico">
                <label for="pp-pendientes-print-con-historico">Detalle</label>
              </div>
              <template #ppCheckPrintConHistorico>Detalle del tooltip con historico</template><span class="icons-warning" [ngbTooltip]="ppCheckPrintConHistorico"></span>
            </div>
            <div class="form-group col-sm-4">
              <div class="checkbox checkbox-inline">
                <input type="checkbox" id="pp-pendientes-print-sin-historico">
                <label for="pp-pendientes-print-sin-historico">Adjunto</label>
              </div>
              <template #ppCheckPrintSinHistorico>Detalle del tooltip sin historico</template><span class="icons-warning" [ngbTooltip]="ppCheckPrintSinHistorico"></span>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer row form-actions">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary">Firmar</button>
      </div>
    </div>
  </div>
</div>
<!-- Modal Print -->

<div class="row form-title">
  <h2>Lista de pagos</h2>
</div>
<div class="row form-body">
  <ngb-tabset>
    <ngb-tab>
      <template ngbTabTitle>Pendientes</template>
      <template ngbTabContent>
        <providers-historic-payment-list [paymentTypes]="paymentTypes" [customerNames]="customerNames"></providers-historic-payment-list>
      </template>
    </ngb-tab>
    <ngb-tab>
      <template ngbTabTitle>Históricos</template>
      <template ngbTabContent>
        <providers-historic-payment-list [paymentTypes]="paymentTypes" [customerNames]="customerNames"></providers-historic-payment-list>
      </template>
    </ngb-tab>
    <ngb-tab title="Reportes" [disabled]="true">
      <template ngbTabContent>
        <p>Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
      </template>
    </ngb-tab>
  </ngb-tabset>
</div>
<div class="row form-actions">
  <div class="file-upload">
    <a href="" class="btn btn-primary">Agregar</a>
  </div>
</div>