<section class="section-select-one-menu">
  <div class="cs-select cs-skin-elastic" [ngClass]="{'cs-active': isActive}" 
      (click)="onClickSelect()" (mouseleave)= "onLeaveSelect()">
      
    <span class="cs-placeholder" [ngClass]="{'place-holder-ok': selectOneMenuModel.isAllOK, 'place-holder-error': isErrorEmpty}">
      {{selectOneMenuModel.optionSelected.label}}
    </span>
    <div class="cs-options">
      <ul>
        <li *ngFor="let option of selectOneMenuModel.listOptions; let i = index" (click)="loadOption(option)">
          <span>{{option.label}}</span>
        </li>
      </ul>
    </div>
  </div>

  <i *ngIf="selectOneMenuModel.isAllOK" 
    class="fa fa-check-square is-all-ok-icon animated fadeIn" aria-hidden="true"></i>

  <span  *ngIf="isErrorEmpty"
    class="tooltip-custon tooltip-effect-5">
    <span class="tooltip-item">
      <i class="fa fa-times-circle error-icon animated fadeIn" aria-hidden="true"></i>
    </span>
    <span class="tooltip-content clearfix">
      <span class="tooltip-text">
        <h5>
          ERROR
        </h5>
        <p *ngIf="isErrorEmpty">
          {{selectOneMenuModel.messageErrorEmpty}}
        </p>
      </span>
    </span>

  </span>
</section>