.ui-selectonemenu .ui-selectonemenu-trigger{
	border-right: none;
  	border-top: none;
  	border-bottom: none;
  	cursor: pointer;
  	width: 30px;
  	height: 100%;
  	position: absolute;
  	right: 0;
  	top: 0;
  	padding: 0 3px;
}
  

tr.ui-widget-content.ui-datatable-even {
	border: 1px white solid;
	background: orange !important;
}

tr.ui-widget-content.ui-datatable-odd {
  	border: 1px white solid;
 	background-color: lightgreen;
}
