<div class= "common-box">
  <div class="row animated fadeIn">
    <div class="col-12">
      <button type="button" class="button-back" (click)="goToList(true)">
        <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div class="row animated fadeIn">
    <div class="col-12">
        <h1 *ngIf="!inEdit">Creando Curso</h1>
        <h1 *ngIf="inEdit">Modificando Curso</h1>
    </div>
  </div>
  <div *ngIf="showMessageError" class="row error-box animated fadeInDown">
    <div class="col-1 error-box-icon">
      <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
    </div>
    <div *ngIf="showMessageErrorInput" class="col-11 error-box-message">
      {{messageErrorInputs}}  
    </div>
    <div *ngIf="showMessageErrorService" class="col-11 error-box-message">
      {{messageErrorService}}
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-6">
          <input-commons [inputModel]="inputDescription" (valueModel)="setCourseDescription($event)"></input-commons>
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <p-dropdown [options]="divisions" [(ngModel)]="course.division" 
            class="drop-down-custom" filter="filter" [style]="{'width':'100%'}">
          </p-dropdown>
        </div>
        <div class="col-4">
          <p-dropdown [options]="levels" [(ngModel)]="course.level" 
            class="drop-down-custom" filter="filter" [style]="{'width':'100%'}">
          </p-dropdown>
        </div>
        <div class="col-4">
          <p-dropdown [options]="years" [(ngModel)]="course.year" 
            class="drop-down-custom" filter="filter" [style]="{'width':'100%'}">
          </p-dropdown>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button (click)="confirm()" class="custom-green-button" type="button">Confirmar</button>
        </div>
      </div>
    </div>
  </div>
</div>