<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SmartDealerII-ws</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>co.com.directv.sdii.job.web.SchedulerInitializerContextListener</listener-class>
  </listener>
  <servlet>
    <description>Servlet para la generación de excel</description>
    <display-name>ExcelGeneratorServlet</display-name>
    <servlet-name>ExcelGeneratorServlet</servlet-name>
    <servlet-class>co.com.directv.sdii.excelgen.ExcelGeneratorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExcelGeneratorServlet</servlet-name>
    <url-pattern>/ExcelGeneratorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletAllocatorWM</display-name>
    <servlet-name>ServletAllocatorWM</servlet-name>
    <servlet-class>co.com.directv.sdii.job.ServletAllocatorWM</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAllocatorWM</servlet-name>
    <url-pattern>/ServletAllocatorWM</url-pattern>
  </servlet-mapping>
  <resource-ref id="ResourceRef_1163654014165">
    <description>TimeManager</description>
    <res-ref-name>tm/AllocatorTM</res-ref-name>
    <res-type>commonj.timers.TimerManager</res-type>
    <res-auth>Application</res-auth>
    <res-sharing-scope>Shareable</res-sharing-scope>
  </resource-ref>
  <resource-ref id="ResourceRef_1213713643671">
    <description>WorkManager</description>
    <res-ref-name>wm/default</res-ref-name>
    <res-type>commonj.work.WorkManager</res-type>
    <res-auth>Container</res-auth>
    <res-sharing-scope>Shareable</res-sharing-scope>
  </resource-ref>
</web-app>