<school-students *ngIf="inList" [inPaymentRecord]="true" (goRecord)="goRecord($event)"></school-students>
<div class="container" *ngIf="!inList">
  <div *ngIf="inListStudent" class="animated fadeInUp">
    <div class= "col-12 common-box-extra-large">
      <div class="row">
        <div class="col-12 body-component">
          <div *ngIf="showMessageError" class="row error-box animated fadeInDown">
            <div class="col-1 error-box-icon">
              <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
            </div>
            <div *ngIf="showMessageErrorService" class="col-11 error-box-message">
              {{messageErrorService}}
            </div>
          </div>
          <p-dataScroller [value]="students" [rows]="7" class="data-scroller-two-columns" (onLazyLoad)="loadData($event)" [lazy]="true">
            <ng-template let-obligation pTemplate="item">
              
            </ng-template>
          </p-dataScroller>
        </div>
      </div>
    </div>
  </div>
</div>