<div class= "common-box">
  <div class="row animated fadeIn">
    <div class="col-12">
      <button type="button" class="button-back" (click)="goToList(true)">
        <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
      </button>
    </div>
  </div>
  <div class="row animated fadeIn">
    <div class="col-12">
        <h1>Creando Plan de Pago</h1>
    </div>
  </div>
  <div *ngIf="showMessageError" class="row error-box animated fadeInDown">
    <div class="col-1 error-box-icon">
      <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
    </div>
    <div *ngIf="showMessageErrorInput" class="col-11 error-box-message">
      {{messageErrorInputs}}  
    </div>
    <div *ngIf="showMessageErrorService" class="col-11 error-box-message">
      {{messageErrorService}}
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="row">
        <div class="col-6">
          <input-commons [inputModel]="inputDescription" (valueModel)="setPaymentPlanDescription($event)"></input-commons>
        </div>
      </div>
      <div class="row">
        <div class="col-12 box-obligation-detail">
          <button type="button" class="button-add  button-add-obligation" (click)="showDisplayPopUp()"
            pTooltip="Agregar Cuota">
              <i class="fa fa-plus" aria-hidden="true"></i>
          </button>
          <div class="paymentPlan-not-obligations" *ngIf="(paymentPlan.obligations == null) || (paymentPlan.obligations.length <= 0)">
            No hay cuotas cargadas.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button (click)="confirm()" class="custom-green-button" type="button">Confirmar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal animated fadeIn" [ngStyle]="{'display': displayPopUp}">
  <div class="modal-dialog" role="document">

    <div class="modal-content animated" [ngClass]="{'fadeIn': obligationContentActive}" *ngIf="obligationContentActive">
      <div class="row modal-header">
        <h3 class="col-12 modal-title">Nueva Cuota</h3>
      </div>
      <div class="row modal-body">
        <h5 class="col-12">Fecha de Vencimiento</h5>
        <p-calendar class="col-12" [(ngModel)]="obligationSelected.dueDate" [locale]="es" dateFormat="dd/mm/yy"></p-calendar>
        <input-commons class="col-12" [inputModel]="inputObligationDescription" (valueModel)="setPaymentPlanObligationDescription($event)"></input-commons>
        <button type="button" class="button-add add-new-price" (click)="newPrice()" pTooltip="Agregar Precio">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
        <div class="row price-container" *ngFor="let price of obligationSelected.prices; index as i">
          <h5>{{price.validityStartDate}}</h5>
          <h5>{{price.description}}</h5>
          <h5>{{price.value}}</h5>
          <button type="button" class="edit-button" (click)="newPrice()" pTooltip="Editar Precio">
            <i class="fa fa-pencil" aria-hidden="true"></i>
          </button>
        </div>
        <div class="row no-exist-prices-container" *ngIf="obligationSelected.prices == null || obligationSelected.prices.length <= 0">
          <h6 class="no-exist-prices">No se ingresaron precios.</h6>
        </div>
      </div>
      <div class="row modal-footer">
        <button type="button" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="hideDisplayPopUp()">Cancelar</button>
      </div>
    </div>

    <div class="modal-content animated" [ngClass]="{'fadeIn': priceContentActive}" *ngIf="priceContentActive">
      <div class="row modal-header">
        <h3 class="col-12 modal-title">Nuevo precio</h3>
      </div>
      <div class="row modal-body">
        <h5 class="col-12">Fecha de inicio de validez</h5>
        <p-calendar class="col-12" [(ngModel)]="priceSelected.validityStartDate" [locale]="es" dateFormat="dd/mm/yy"></p-calendar>
        <input-commons class="col-12" [inputModel]="inputPriceDescription" (valueModel)="setPaymentPlanObligationPriceDescription($event)"></input-commons>
        <input-commons class="col-12" [inputModel]="inputPriceValue" (valueModel)="setPaymentPlanObligationPriceValue($event)"></input-commons>
        <button type="button" class="button-add add-new-price" (click)="newDetail()" pTooltip="Agregar Detalle">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
        <div class="row price-container" *ngFor="let detail of priceSelected.details; index as i">
        </div>
        <div class="row no-exist-prices-container" *ngIf="priceSelected.details == null || priceSelected.details.length <= 0">
            <h6 class="no-exist-prices">No se ingresaron detalles.</h6>
        </div>
      </div>
      <div class="row modal-footer">
        <button type="button" class="btn btn-primary" (click)="savePrice()">Guardar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="backToObligation()">Cancelar</button>
      </div>
    </div>

    <div class="modal-content animated" [ngClass]="{'fadeIn': detailContentActive}" *ngIf="detailContentActive">
      <div class="row modal-header">
        <h3 class="col-12 modal-title">Nuevo Detalle</h3>
      </div>
      <div class="row modal-body">
        <input-commons class="col-12" [inputModel]="inputDetailDescription" (valueModel)="setPaymentPlanObligationPriceDetailDescription($event)"></input-commons>
        <input-commons class="col-12" [inputModel]="inputDetailValue" (valueModel)="setPaymentPlanObligationPriceDetailValue($event)"></input-commons>
        <button type="button" class="button-add add-new-price" (click)="newLittleDetail()" pTooltip="Agregar Pequeño Detalle">
          <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
        <div class="row price-container" *ngFor="let detail of priceSelected.details; index as i">
        </div>
        <div class="row no-exist-prices-container" *ngIf="priceSelected.details == null || priceSelected.details.length <= 0">
            <h6 class="no-exist-prices">No se ingresaron pequeños detalles.</h6>
        </div>
      </div>
      <div class="row modal-footer">
        <button type="button" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="backToObligation()">Cancelar</button>
      </div>
    </div>

    <div class="modal-content animated" [ngClass]="{'fadeIn': littleDetailContentActive}" *ngIf="littleDetailContentActive">
      <div class="row modal-header">
        <h3 class="col-12 modal-title">Nuevo Pequeño Detalle</h3>
      </div>
      <div class="row modal-body">
        <input-commons class="col-12" [inputModel]="inputLittleDetailDescription" (valueModel)="setPaymentPlanObligationPriceLittleDetailDescription($event)"></input-commons>
        <input-commons class="col-12" [inputModel]="inputLittleDetailValue" (valueModel)="setPaymentPlanObligationPriceLittleDetailValue($event)"></input-commons>
      </div>
      <div class="row modal-footer">
        <button type="button" class="btn btn-primary">Guardar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="backToDetail()">Cancelar</button>
      </div>
    </div>

  </div>
</div>