body {
  background: url("../images/fondoLogin.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
}
body::before {
    z-index: -1;
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 176, 186, 0.6);
    width: 100%;
    height: 100%;
}
.container{
	width: 100%;
	margin: 0 auto;
	overflow: hidden;
}

.ui-commandlink{
	font-family: 'Roboto', sans-serif;
}

.ui-button{
	font-weight: bold;
    font-size: small !important;
    background-color: #00b1ba;
    box-shadow: -1px 1px 17px -6px gray;
    text-align: center;
    color: white;
    border: none;
    border-radius: 4px;
    min-height: 3em;
    white-space: nowrap;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    font-family: 'Roboto', sans-serif;
    background-image: inherit;
    text-shadow: inherit;
}
.ui-button:hover{
	background-image: none;
    border: none;
    color: #ffffff;
    background-color: #39b3d7;
    border-color: #269abc;
}
.ui-button:focus{
	background-color: #8bd7ee;
}

.ui-inputfield:hover {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
	transition: border linear .2s,box-shadow linear .2s;
}
.ui-inputfield:focus {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
	transition: border linear .2s,box-shadow linear .2s;
}
.ui-inputfield {
   	border: 2px solid #ebebeb;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background: #fff;
    font: 500 15px/20px "museo-sans-rounded",sans-serif;
    color: #3c3c3c;
    padding: 8px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    resize: vertical;
    -webkit-box-shadow: inset 0 2px 5px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 2px 5px rgba(0,0,0,0.05);
    box-shadow: inset 0 2px 5px rgba(0,0,0,0.05);
    -webkit-font-smoothing: antialiased;
    text-align: left;
    display: block;
    white-space: pre-wrap;
}

::-webkit-input-placeholder {
         color:rgba(221, 221, 221, 0.9) !important;
         font-weight: normal !important;
         font-family: 'Roboto', sans-serif;
}
.iconPosition {
	position: absolute !important;
    left: 25px !important;
    z-index: 1;
    top: 3px;
}
.ui-icon {
    text-indent: 0;
}  

.social-networks-icons {
    color: white;
    text-decoration: inherit;
}
.social-networks-icons:hover {
    color: darkslategray !important;
}

.font-roboto {
    font-family: 'Roboto', sans-serif !important;
}

