<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender class="org.apache.log4j.RollingFileAppender" name="LOG_FILE">
        <param value="true" name="Append"/>
        <param value="C:\\log\\colegio.log" name="File"/>
        <param value="ALL" name="Threshold"/>
        <param value="100MB" name="MaxFileSize"/>
        <param value="3" name="MaxBackupIndex"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param value="%d %-5p %c - %m%n" name="ConversionPattern"/>
        </layout>
    </appender>
    
	<appender class="org.apache.log4j.ConsoleAppender" name="CONSOLE">
	    <layout class="org.apache.log4j.PatternLayout">
            <param value="%d %-5p %c - %m%n" name="ConversionPattern"/>
        </layout>
	</appender>
	
	<!-- Application Loggers -->
	<logger name="ar.com.larreta.commons.utils">
		<level value="DEBUG" />
		<appender-ref ref="LOG_FILE" />
		<appender-ref ref="CONSOLE" />	
	</logger>
	<logger name="ar.com.larreta">
		<level value="DEBUG" />
		<appender-ref ref="LOG_FILE" />
		<appender-ref ref="CONSOLE" />
	</logger>
	
	<!-- 3rdparty Loggers -->
	<logger name="org.springframework">
		<level value="ERROR" />
		<appender-ref ref="LOG_FILE" />
		<appender-ref ref="CONSOLE" />
	</logger>	

	<logger name="org.hibernate">
		<level value="ERROR" />
		<appender-ref ref="LOG_FILE" />
		<appender-ref ref="CONSOLE" />
	</logger>	
	
	<!-- Root Logger -->
	<root>
		<priority value="ERROR" />
		<appender-ref ref="LOG_FILE" />
		<appender-ref ref="CONSOLE" />
	</root>
	
</log4j:configuration>
